include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
recursive-include chan_downloader/templates *.html
recursive-include chan_downloader/static *.css *.js
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
